In [ ]:
# !pip install Basemap

In [1]:
!pip install haversine

Collecting haversine
  Downloading haversine-2.5.1-py2.py3-none-any.whl (6.1 kB)
Installing collected packages: haversine
Successfully installed haversine-2.5.1

In [2]:
# !sudo apt-get install -y fonts-nanum
# !sudo fc-cache -fv
# !rm ~/.cache/matplotlib -rf

In [3]:
import glob
import os
import pandas as pd
import numpy as np
from haversine import haversine
import matplotlib
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic') 
import warnings
warnings.filterwarnings(action='ignore')

In [4]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

# 데이터 전처리

**2000-2021년 6-10월 데이터**

In [5]:
path = '/content/gdrive/My Drive/hot/1year/'
File_list = glob.glob(os.path.join(path, 'OBS*.csv'))
# print(File_list)

allData = [] # 읽어 들인 excel파일 내용을 저장할 빈 리스트를 하나 만든다
for file in File_list:
    df = pd.read_csv(file,encoding='CP949') # for구문으로 excel파일들을 읽어 들인다
    allData.append(df)
data = pd.concat(allData, axis=0, ignore_index=True).sort_values(['지점명','일시'])
data['지점명'] = data['지점명'].str.strip()

data

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),최대 순간풍속 시각(hhmi),평균 풍속(m/s),최대 순간 풍속 풍향(deg)
1490298,303,가거도,2001-06-01,19.6,16.8,59.0,22.2,1010.0,0.0,11.0,2210.0,2.2,228.0
1490299,303,가거도,2001-06-02,20.2,17.5,2148.0,22.7,1213.0,0.0,12.3,1408.0,2.1,281.0
1490300,303,가거도,2001-06-03,20.7,19.0,2338.0,23.6,1324.0,0.0,12.7,2111.0,2.3,314.0
1490301,303,가거도,2001-06-04,18.8,17.0,2016.0,21.3,1237.0,0.0,9.4,44.0,0.8,289.0
1490302,303,가거도,2001-06-05,16.9,15.8,1647.0,19.7,1.0,10.0,12.5,1850.0,1.9,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17798,536,횡성,2021-10-27,10.5,4.2,2358.0,19.9,1329.0,0.0,6.8,1538.0,1.0,213.8
17799,536,횡성,2021-10-28,8.9,0.8,620.0,19.5,1447.0,0.0,3.4,1308.0,0.8,213.8
17800,536,횡성,2021-10-29,10.3,3.8,624.0,19.7,1522.0,0.0,4.3,1051.0,0.9,19.7
17801,536,횡성,2021-10-30,9.8,5.4,652.0,17.9,1302.0,0.0,3.7,1525.0,0.7,205.3
17802,536,횡성,2021-10-31,10.5,3.7,636.0,19.7,1435.0,0.0,4.7,1446.0,0.7,216.6

**2000년부터 존재하는 지점만 추출**

In [6]:
path = '/content/gdrive/My Drive/hot/1year/'
dat = pd.read_csv(path+'OBS_AWS_DD_20220316142920.csv',encoding='CP949')
#dat.drop(data.columns[0],inplace=True,axis=1)
dat['지점명'] = dat['지점명'].str.strip()
dat

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),최대 순간풍속 시각(hhmi),평균 풍속(m/s),최대 순간 풍속 풍향(deg)
0,116,관악(레),2000-06-01,16.7,13.9,1.0,21.3,1348.0,0.0,7.1,1424.0,1.1,0.0
1,116,관악(레),2000-06-02,18.5,14.3,153.0,23.2,1313.0,0.0,7.1,1.0,0.5,298.8
2,116,관악(레),2000-06-03,21.5,16.6,555.0,27.3,1526.0,0.0,7.1,11.0,0.2,0.0
3,116,관악(레),2000-06-04,21.9,17.1,535.0,28.6,1610.0,0.0,9.0,42.0,0.1,0.0
4,116,관악(레),2000-06-05,21.6,18.8,2027.0,26.0,1355.0,0.0,11.1,2215.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57928,951,내장산,2000-10-28,11.0,6.8,28.0,16.0,1316.0,0.0,4.6,1345.0,0.2,297.6
57929,951,내장산,2000-10-29,9.1,4.4,2342.0,13.1,1407.0,1.0,5.4,1521.0,0.2,231.1
57930,951,내장산,2000-10-30,6.8,1.6,2359.0,15.8,1324.0,0.0,5.4,1418.0,0.3,271.6
57931,951,내장산,2000-10-31,8.8,0.9,505.0,16.7,1108.0,0.0,3.9,1004.0,0.2,124.5
57932,973,화순능주,2000-07-19,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [7]:
dat = data[data['지점명'].isin(dat['지점명'].unique())].reset_index(drop=True)
dat

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),최대 순간풍속 시각(hhmi),평균 풍속(m/s),최대 순간 풍속 풍향(deg)
0,647,가곡,2000-06-01,20.3,11.8,602.0,29.5,1403.0,0.0,5.3,1333.0,0.1,89.6
1,647,가곡,2000-06-02,21.8,15.1,436.0,28.3,1617.0,0.0,3.1,1327.0,0.2,183.0
2,647,가곡,2000-06-03,22.9,17.6,411.0,28.3,1429.0,0.0,5.8,1054.0,0.9,18.6
3,647,가곡,2000-06-04,22.0,14.7,531.0,31.1,1445.0,0.0,9.6,1346.0,1.1,60.4
4,647,가곡,2000-06-05,21.8,11.5,452.0,31.0,1425.0,0.0,7.5,1256.0,1.1,19.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286102,536,횡성,2021-10-27,10.5,4.2,2358.0,19.9,1329.0,0.0,6.8,1538.0,1.0,213.8
1286103,536,횡성,2021-10-28,8.9,0.8,620.0,19.5,1447.0,0.0,3.4,1308.0,0.8,213.8
1286104,536,횡성,2021-10-29,10.3,3.8,624.0,19.7,1522.0,0.0,4.3,1051.0,0.9,19.7
1286105,536,횡성,2021-10-30,9.8,5.4,652.0,17.9,1302.0,0.0,3.7,1525.0,0.7,205.3
1286106,536,횡성,2021-10-31,10.5,3.7,636.0,19.7,1435.0,0.0,4.7,1446.0,0.7,216.6

In [8]:
len(dat['지점명'].unique())

387

In [9]:
new = dat[['지점명','일시','최고기온(°C)']]
print(len(new[new['최고기온(°C)'].isnull()]['일시'].unique()))
new

3028

        지점명          일시  최고기온(°C)
0        가곡  2000-06-01      29.5
1        가곡  2000-06-02      28.3
2        가곡  2000-06-03      28.3
3        가곡  2000-06-04      31.1
4        가곡  2000-06-05      31.0
...      ..         ...       ...
1286102  횡성  2021-10-27      19.9
1286103  횡성  2021-10-28      19.5
1286104  횡성  2021-10-29      19.7
1286105  횡성  2021-10-30      17.9
1286106  횡성  2021-10-31      19.7

[1286107 rows x 3 columns]

In [10]:
set(new[new['일시']=='2000-06-02']['지점명'].unique())^set(new[new['일시']=='2000-06-03']['지점명'].unique())

{'진달래밭'}

In [11]:
pp = pd.DataFrame(index=dat['지점명'].unique(),columns=['최고기온(°C)'])
pp

     최고기온(°C)
가곡        NaN
가덕        NaN
가덕도       NaN
가산        NaN
가평북면      NaN
...       ...
화천        NaN
화촌        NaN
황성        NaN
황전        NaN
횡성        NaN

[387 rows x 1 columns]

In [31]:
dk = []
for i in new['일시'].unique():
  dk.append(pp.combine_first(new[new['일시']==i][['지점명','최고기온(°C)']].set_index('지점명'))['최고기온(°C)'])

In [13]:
dk[:2]

[가곡      29.5
 가덕      31.6
 가덕도     19.9
 가산      29.9
 가평북면    28.5
         ...
 화천      28.0
 화촌      28.0
 황성      24.1
 황전      28.0
 횡성      29.3
 Name: 최고기온(°C), Length: 387, dtype: object, 가곡      28.3
 가덕      29.8
 가덕도     22.7
 가산      26.8
 가평북면    29.7
         ...
 화천      30.0
 화촌      30.2
 황성      25.9
 황전      27.5
 횡성      29.7
 Name: 최고기온(°C), Length: 387, dtype: object]

In [14]:
np.array(dk).shape

(3366, 387)

**가장 최근에 측정시작한 위경도 추출**

In [15]:
meta = pd.read_csv(path+'../META_관측지점정보.csv',encoding='CP949')

meta = meta.sort_values(['지점명','시작일'])

meta = meta.drop_duplicates(subset='지점명', keep='last')[['지점명','위도','경도']].reset_index(drop=True)
meta

               지점명       위도        경도
0      13번국도(완도대교)  34.3942  126.6468
1     309호선 학의JC남측  37.3892  127.0022
2       31번국도(어평재)  37.1200  128.8800
3      322호선 전곡항입구  37.1911  126.6536
4      38번국도(나한정역)  37.1983  128.0329
...            ...      ...       ...
5182           흥해읍  36.1071  129.3417
5183            희망  37.6970  127.8888
5184            희천  40.1667  126.2500
5185          흰바우산  38.3115  127.7430
5186          히로시마  34.4000  132.4667

[5187 rows x 3 columns]

In [16]:
x = pd.merge(new,meta,on='지점명')
x

        지점명          일시  최고기온(°C)       위도        경도
0        가곡  2000-06-01      29.5  36.1250  127.6924
1        가곡  2000-06-02      28.3  36.1250  127.6924
2        가곡  2000-06-03      28.3  36.1250  127.6924
3        가곡  2000-06-04      31.1  36.1250  127.6924
4        가곡  2000-06-05      31.0  36.1250  127.6924
...      ..         ...       ...      ...       ...
1286102  횡성  2021-10-27      19.9  37.4876  127.9724
1286103  횡성  2021-10-28      19.5  37.4876  127.9724
1286104  횡성  2021-10-29      19.7  37.4876  127.9724
1286105  횡성  2021-10-30      17.9  37.4876  127.9724
1286106  횡성  2021-10-31      19.7  37.4876  127.9724

[1286107 rows x 5 columns]

In [17]:
xx = x.drop_duplicates(subset='지점명', keep='last')[['지점명','위도','경도']].reset_index(drop=True)
xx

      지점명       위도        경도
0      가곡  36.1250  127.6924
1      가덕  36.5461  127.5239
2     가덕도  34.9931  128.8314
3      가산  37.8486  127.1864
4    가평북면  37.8981  127.5522
..    ...      ...       ...
382    화천  38.0964  127.7029
383    화촌  37.7871  127.9838
384    황성  35.8630  129.2093
385    황전  35.1007  127.4274
386    횡성  37.4876  127.9724

[387 rows x 3 columns]

가까운 지점 호출

In [41]:
def area(spot,number):
  d={}
  s = []
  for i in range(len(xx)):
    if spot==xx.iloc[i]['지점명']:
      s.append(10**10)
    else:
      start = (xx[xx['지점명']==spot]['위도'].values[0], xx[xx['지점명']==spot]['경도'].values[0]) 
      goal = (xx['위도'].iloc[i], xx['경도'].iloc[i])
      s.append(haversine(start,goal))
  sorted_list = sorted(s)
  
  m = sorted_list[number]
  m_index = s.index(m)
  return xx['지점명'].iloc[m_index]
  #return xx['지점명'].iloc[s.index(min(s))]

print(area('하남',0))

구리

In [25]:
len(dk)

3366

In [65]:
dic={}

for i in new['일시'].unique():
  t = pp.combine_first(new[new['일시']==i][['지점명','최고기온(°C)']].set_index('지점명'))['최고기온(°C)']
  dic[i]=len(t[t.isnull()])
dic.values()

dict_values([15, 15, 17, 24, 16, 24, 17, 12, 13, 16, 18, 33, 18, 19, 15, 19, 18, 16, 19, 18, 15, 13, 14, 14, 16, 15, 14, 18, 16, 18, 33, 15, 17, 17, 18, 16, 22, 21, 21, 18, 14, 17, 17, 15, 20, 17, 17, 17, 18, 13, 16, 15, 21, 15, 15, 16, 15, 16, 17, 15, 18, 20, 20, 20, 22, 20, 20, 27, 26, 22, 18, 16, 17, 15, 13, 14, 15, 17, 20, 19, 17, 23, 29, 24, 21, 17, 15, 17, 26, 19, 18, 19, 30, 27, 18, 20, 14, 13, 11, 15, 14, 12, 12, 14, 21, 14, 12, 20, 16, 20, 12, 30, 18, 16, 11, 18, 17, 17, 18, 17, 12, 12, 21, 11, 13, 13, 14, 19, 14, 12, 12, 12, 12, 11, 14, 13, 11, 9, 11, 13, 11, 14, 12, 14, 12, 11, 15, 13, 13, 10, 13, 16, 17, 8, 9, 10, 8, 8, 11, 8, 12, 22, 9, 13, 12, 11, 14, 27, 9, 9, 11, 11, 11, 9, 63, 9, 11, 12, 9, 9, 10, 10, 11, 12, 12, 11, 11, 15, 11, 13, 12, 9, 8, 9, 9, 14, 13, 17, 12, 10, 13, 14, 13, 17, 15, 15, 15, 14, 16, 10, 9, 25, 15, 13, 14, 16, 10, 9, 13, 16, 13, 16, 14, 12, 9, 11, 9, 12, 12, 11, 14, 12, 12, 10, 10, 10, 9, 10, 10, 11, 12, 12, 12, 12, 10, 11, 9, 11, 10, 10, 9, 13, 12, 18, 13, 11, 13, 10, 11, 10, 11, 10, 11, 11, 21, 23, 15, 14, 15, 10, 11, 13, 12, 15, 13, 14, 19, 13, 16, 16, 13, 13, 16, 12, 14, 14, 14, 12, 11, 10, 12, 13, 16, 14, 15, 13, 14, 14, 18, 15, 14, 12, 13, 14, 13, 19, 11, 14, 13, 9, 10, 9, 9, 11, 10, 13, 11, 10, 16, 9, 8, 10, 9, 10, 9, 8, 9, 9, 13, 14, 10, 8, 9, 8, 9, 9, 8, 12, 9, 9, 10, 17, 9, 8, 9, 12, 11, 8, 9, 10, 19, 13, 12, 11, 8, 11, 10, 9, 8, 10, 9, 10, 11, 11, 9, 11, 10, 8, 8, 8, 10, 11, 20, 16, 12, 14, 12, 10, 12, 10, 9, 11, 12, 14, 14, 7, 8, 8, 7, 9, 8, 10, 9, 10, 15, 28, 9, 74, 46, 35, 24, 19, 18, 20, 18, 18, 13, 10, 10, 11, 9, 10, 10, 9, 12, 14, 10, 16, 11, 15, 10, 13, 13, 15, 15, 12, 13, 22, 15, 13, 19, 18, 19, 15, 13, 11, 10, 10, 11, 11, 11, 17, 11, 10, 12, 12, 10, 9, 11, 13, 10, 13, 12, 11, 15, 16, 16, 15, 11, 5, 6, 7, 8, 9, 9, 8, 8, 6, 6, 6, 8, 7, 8, 10, 9, 8, 5, 8, 7, 7, 7, 6, 8, 14, 7, 11, 11, 10, 9, 9, 7, 6, 9, 6, 7, 16, 8, 9, 10, 8, 7, 9, 9, 11, 5, 10, 6, 7, 8, 7, 13, 8, 12, 8, 13, 10, 10, 9, 17, 7, 10, 9, 8, 9, 9, 12, 10, 7, 8, 14, 11, 8, 7, 7, 8, 13, 5, 8, 6, 7, 9, 8, 10, 19, 13, 7, 10, 6, 6, 4, 7, 9, 13, 6, 8, 11, 7, 10, 14, 6, 7, 14, 40, 27, 19, 13, 10, 9, 11, 8, 10, 8, 6, 8, 7, 8, 8, 6, 4, 13, 4, 6, 8, 8, 20, 5, 8, 10, 5, 5, 5, 6, 5, 6, 4, 5, 8, 8, 8, 7, 8, 10, 10, 13, 12, 11, 11, 26, 9, 9, 10, 15, 12, 14, 8, 9, 7, 7, 9, 8, 9, 6, 7, 11, 11, 7, 7, 7, 8, 6, 10, 11, 11, 15, 10, 10, 7, 4, 11, 9, 7, 6, 5, 8, 12, 10, 6, 7, 7, 8, 4, 10, 7, 6, 17, 12, 9, 9, 8, 7, 7, 9, 8, 7, 9, 17, 14, 8, 8, 7, 7, 5, 7, 7, 6, 8, 6, 7, 5, 9, 11, 5, 7, 5, 7, 6, 7, 6, 4, 6, 7, 5, 7, 6, 7, 8, 4, 6, 8, 7, 9, 7, 6, 7, 8, 7, 8, 6, 8, 7, 5, 5, 7, 11, 10, 8, 10, 5, 4, 4, 4, 10, 8, 6, 8, 5, 6, 7, 6, 7, 9, 9, 9, 8, 9, 8, 5, 5, 7, 6, 8, 6, 6, 7, 7, 6, 7, 8, 7, 7, 7, 9, 10, 11, 8, 10, 9, 9, 10, 12, 14, 11, 8, 16, 12, 14, 9, 5, 10, 8, 8, 5, 8, 8, 10, 10, 12, 6, 6, 7, 8, 13, 15, 10, 6, 6, 7, 6, 12, 8, 10, 7, 6, 6, 15, 12, 9, 12, 7, 7, 5, 6, 9, 7, 7, 6, 5, 5, 6, 7, 9, 11, 5, 5, 6, 7, 10, 6, 6, 10, 5, 9, 12, 5, 6, 11, 7, 8, 9, 5, 8, 11, 11, 8, 13, 9, 6, 8, 7, 6, 8, 13, 22, 5, 7, 5, 6, 4, 4, 6, 4, 4, 5, 5, 4, 4, 8, 9, 7, 8, 8, 10, 8, 8, 10, 10, 6, 8, 8, 9, 7, 8, 13, 12, 11, 12, 9, 7, 8, 12, 9, 11, 9, 8, 7, 6, 10, 14, 14, 9, 6, 6, 5, 6, 6, 6, 6, 5, 5, 5, 7, 5, 5, 4, 4, 5, 5, 8, 10, 10, 7, 6, 7, 7, 11, 5, 5, 8, 7, 5, 6, 6, 6, 9, 10, 9, 19, 20, 12, 9, 7, 9, 13, 8, 7, 9, 11, 5, 6, 6, 8, 8, 6, 11, 9, 5, 17, 10, 8, 9, 5, 6, 7, 5, 7, 8, 20, 7, 7, 8, 11, 17, 15, 11, 9, 8, 8, 11, 9, 7, 6, 7, 6, 6, 7, 7, 6, 6, 5, 7, 8, 8, 9, 13, 7, 6, 7, 6, 6, 8, 7, 6, 8, 7, 6, 6, 7, 7, 6, 7, 9, 10, 9, 6, 12, 11, 8, 8, 11, 7, 7, 7, 9, 8, 8, 9, 8, 6, 6, 6, 10, 7, 8, 6, 17, 7, 6, 6, 6, 6, 5, 4, 4, 4, 5, 7, 8, 6, 6, 6, 6, 8, 7, 4, 5, 5, 5, 4, 5, 7, 7, 6, 5, 5, 4, 5, 4, 6, 5, 6, 7, 10, 6, 4, 7, 6, 6, 5, 5, 5, 6, 6, 7, 5, 5, 8, 10, 8, 8, 8, 15, 8, 6, 7, 5, 6, 6, 6, 7, 7, 8, 9, 7, 5, 4, 9, 6, 6, 5, 4, 5, 9, 6, 7, 5, 6, 5, 4, 4, 9, 10, 7, 6, 6, 5, 5, 5, 5, 5, 8, 6, 4, 5, 6, 20, 6, 11, 6, 10, 13, 8, 8, 7, 5, 14, 11, 11, 9, 10, 9, 8, 11, 7, 9, 10, 20, 10, 10, 8, 4, 7, 8, 9, 6, 6, 5, 7, 7, 9, 8, 7, 9, 6, 6, 5, 7, 4, 5, 5, 5, 5, 7, 5, 8, 4, 9, 10, 13, 13, 7, 5, 5, 7, 5, 4, 6, 6, 6, 5, 5, 4, 5, 6, 6, 4, 5, 7, 7, 6, 5, 5, 6, 6, 6, 7, 5, 7, 6, 8, 8, 8, 5, 5, 4, 6, 4, 5, 7, 7, 7, 5, 4, 5, 5, 11, 12, 7, 11, 6, 5, 6, 11, 6, 6, 5, 6, 7, 5, 5, 7, 7, 11, 6, 6, 5, 5, 5, 6, 6, 7, 6, 7, 6, 6, 11, 9, 5, 6, 6, 5, 7, 7, 6, 5, 5, 8, 8, 6, 7, 7, 5, 6, 11, 7, 5, 6, 6, 9, 5, 9, 6, 9, 8, 5, 6, 7, 9, 9, 7, 9, 9, 7, 7, 6, 6, 7, 8, 6, 8, 7, 8, 6, 6, 6, 5, 7, 7, 6, 7, 7, 5, 7, 7, 8, 8, 8, 6, 5, 10, 8, 6, 7, 6, 5, 5, 6, 4, 4, 6, 5, 5, 4, 8, 6, 8, 9, 8, 9, 6, 8, 6, 4, 4, 6, 5, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 4, 4, 6, 5, 6, 6, 6, 4, 4, 6, 5, 5, 8, 7, 6, 6, 7, 7, 10, 9, 8, 9, 14, 6, 7, 6, 7, 5, 5, 6, 6, 4, 4, 4, 5, 4, 5, 5, 4, 6, 6, 6, 5, 6, 5, 5, 5, 6, 5, 5, 5, 9, 6, 5, 6, 7, 6, 5, 7, 6, 5, 7, 7, 5, 11, 4, 4, 4, 6, 5, 10, 5, 5, 5, 6, 6, 5, 5, 5, 5, 4, 36, 6, 7, 4, 4, 5, 4, 6, 5, 4, 5, 5, 6, 4, 5, 4, 5, 4, 6, 6, 9, 6, 5, 5, 5, 5, 7, 6, 7, 6, 7, 7, 7, 5, 7, 4, 5, 5, 4, 5, 5, 7, 5, 6, 5, 5, 6, 5, 4, 5, 5, 4, 7, 5, 4, 5, 4, 4, 4, 4, 5, 6, 6, 5, 6, 6, 4, 4, 5, 4, 5, 5, 6, 6, 8, 7, 5, 10, 7, 8, 6, 4, 4, 5, 6, 5, 6, 10, 8, 9, 6, 7, 7, 4, 5, 6, 6, 6, 9, 7, 5, 5, 5, 5, 6, 4, 6, 5, 6, 6, 7, 13, 6, 6, 5, 6, 5, 6, 7, 8, 7, 8, 5, 8, 5, 4, 5, 6, 5, 5, 5, 4, 5, 4, 6, 6, 4, 5, 7, 8, 7, 8, 24, 6, 16, 13, 7, 9, 4, 6, 7, 6, 5, 6, 8, 8, 6, 5, 4, 6, 6, 6, 5, 6, 6, 12, 14, 15, 10, 6, 7, 5, 7, 5, 4, 9, 6, 4, 4, 5, 5, 11, 5, 7, 3, 15, 8, 4, 7, 8, 3, 5, 5, 9, 8, 6, 5, 5, 3, 3, 2, 3, 4, 6, 13, 12, 8, 11, 4, 5, 5, 5, 3, 3, 3, 6, 3, 2, 5, 2, 5, 3, 2, 2, 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 5, 4, 3, 4, 6, 7, 5, 6, 4, 4, 3, 7, 5, 5, 4, 4, 5, 4, 4, 6, 6, 7, 7, 8, 7, 4, 4, 7, 6, 6, 7, 5, 7, 7, 5, 5, 7, 7, 9, 7, 9, 14, 7, 9, 11, 9, 8, 7, 7, 8, 8, 7, 9, 7, 8, 8, 6, 7, 6, 7, 4, 5, 5, 5, 6, 6, 9, 17, 10, 6, 6, 8, 10, 9, 9, 8, 5, 7, 7, 8, 8, 10, 8, 7, 7, 7, 5, 8, 14, 10, 10, 11, 7, 7, 7, 14, 5, 5, 6, 4, 6, 7, 9, 6, 5, 4, 4, 6, 5, 4, 8, 7, 6, 8, 6, 6, 7, 5, 5, 6, 7, 8, 7, 5, 5, 5, 6, 6, 8, 5, 4, 6, 5, 7, 5, 7, 8, 6, 5, 5, 5, 5, 6, 5, 6, 4, 4, 7, 9, 6, 7, 6, 8, 6, 6, 7, 6, 7, 8, 8, 7, 4, 4, 7, 6, 5, 5, 5, 6, 6, 5, 6, 5, 5, 7, 8, 6, 5, 5, 5, 6, 5, 5, 6, 7, 8, 5, 7, 6, 7, 8, 7, 5, 7, 6, 8, 5, 6, 7, 9, 8, 8, 8, 6, 6, 7, 8, 8, 11, 7, 7, 7, 7, 10, 9, 7, 7, 7, 6, 6, 6, 5, 5, 7, 7, 6, 6, 8, 6, 7, 5, 5, 6, 6, 5, 5, 7, 10, 6, 6, 7, 5, 7, 6, 8, 10, 8, 8, 5, 7, 7, 6, 19, 22, 15, 12, 12, 12, 10, 10, 9, 10, 10, 14, 9, 11, 9, 10, 10, 8, 9, 9, 11, 9, 9, 7, 7, 7, 6, 6, 6, 6, 6, 5, 5, 6, 5, 6, 7, 6, 6, 6, 5, 6, 6, 7, 7, 9, 7, 8, 7, 7, 10, 11, 10, 9, 6, 7, 11, 8, 7, 5, 10, 7, 8, 11, 10, 9, 9, 8, 8, 8, 9, 8, 8, 7, 8, 7, 7, 7, 9, 9, 9, 9, 8, 9, 6, 7, 6, 8, 7, 8, 7, 7, 6, 6, 6, 6, 6, 8, 10, 10, 7, 7, 6, 8, 9, 7, 7, 7, 10, 7, 8, 6, 7, 9, 7, 7, 7, 7, 6, 8, 7, 7, 8, 8, 9, 9, 8, 7, 9, 9, 9, 10, 9, 9, 7, 6, 10, 14, 7, 7, 8, 8, 8, 8, 8, 8, 8, 9, 11, 10, 11, 9, 8, 8, 8, 6, 6, 6, 8, 7, 8, 7, 8, 7, 7, 7, 6, 6, 11, 17, 11, 10, 8, 9, 9, 8, 9, 8, 10, 7, 6, 6, 7, 8, 6, 15, 6, 7, 7, 7, 8, 6, 6, 7, 7, 7, 8, 6, 6, 6, 9, 8, 7, 7, 7, 7, 8, 6, 7, 12, 11, 6, 6, 7, 7, 7, 8, 9, 9, 6, 10, 8, 8, 7, 7, 7, 7, 9, 7, 6, 6, 8, 7, 8, 7, 7, 7, 9, 9, 11, 11, 7, 8, 8, 7, 7, 7, 6, 6, 7, 6, 6, 7, 8, 7, 7, 7, 6, 7, 8, 9, 6, 7, 7, 10, 10, 7, 7, 7, 7, 7, 9, 7, 8, 7, 8, 8, 7, 6, 7, 7, 6, 6, 6, 6, 7, 9, 10, 10, 8, 7, 7, 6, 7, 10, 10, 9, 9, 9, 7, 6, 7, 8, 11, 9, 8, 7, 8, 9, 8, 7, 8, 8, 8, 8, 8, 7, 6, 6, 6, 6, 6, 6, 9, 6, 6, 6, 7, 6, 6, 6, 7, 6, 9, 8, 7, 7, 7, 8, 7, 6, 6, 7, 6, 6, 7, 7, 6, 6, 6, 8, 8, 7, 6, 6, 6, 6, 7, 6, 6, 8, 10, 9, 7, 6, 7, 8, 7, 7, 7, 5, 5, 10, 6, 6, 6, 5, 5, 6, 5, 7, 5, 6, 10, 8, 7, 7, 8, 7, 9, 7, 6, 6, 6, 6, 5, 9, 8, 7, 6, 8, 6, 6, 6, 6, 6, 5, 6, 8, 8, 7, 7, 7, 5, 6, 6, 6, 5, 6, 5, 6, 5, 6, 8, 9, 8, 6, 8, 12, 7, 8, 6, 7, 7, 5, 9, 7, 10, 13, 9, 6, 7, 5, 6, 8, 7, 15, 16, 6, 5, 6, 5, 5, 5, 6, 7, 8, 6, 7, 5, 5, 7, 6, 9, 9, 6, 8, 8, 8, 5, 5, 5, 6, 6, 5, 7, 5, 7, 7, 5, 6, 5, 5, 5, 6, 5, 5, 8, 8, 6, 7, 9, 7, 6, 9, 9, 11, 7, 5, 6, 7, 9, 8, 7, 7, 6, 6, 8, 7, 7, 6, 6, 7, 7, 10, 9, 9, 9, 11, 9, 9, 8, 10, 6, 6, 5, 5, 7, 7, 6, 6, 7, 7, 5, 5, 5, 5, 5, 5, 6, 7, 6, 7, 6, 5, 5, 6, 6, 6, 6, 5, 5, 6, 5, 6, 6, 7, 7, 10, 9, 7, 8, 8, 8, 5, 7, 7, 6, 5, 5, 5, 6, 6, 5, 5, 5, 7, 6, 6, 7, 6, 7, 8, 8, 8, 8, 9, 7, 5, 5, 6, 9, 10, 8, 7, 6, 8, 6, 9, 8, 6, 7, 7, 7, 6, 6, 7, 10, 6, 7, 8, 7, 6, 6, 7, 6, 6, 6, 7, 9, 7, 8, 7, 8, 7, 7, 8, 7, 7, 7, 8, 7, 7, 7, 6, 10, 8, 6, 6, 6, 7, 8, 6, 6, 7, 6, 6, 7, 7, 9, 7, 7, 8, 7, 7, 8, 8, 8, 9, 8, 9, 8, 7, 7, 7, 7, 7, 8, 8, 8, 8, 7, 7, 7, 8, 8, 11, 12, 12, 12, 9, 8, 11, 9, 15, 23, 13, 12, 14, 29, 12, 6, 6, 6, 7, 13, 22, 6, 12, 12, 23, 8, 9, 7, 20, 14, 7, 7, 11, 9, 10, 8, 7, 11, 13, 10, 7, 8, 6, 12, 14, 9, 9, 7, 8, 9, 8, 7, 7, 7, 10, 8, 8, 9, 7, 5, 8, 7, 8, 7, 7, 9, 7, 10, 7, 6, 7, 6, 7, 7, 6, 7, 8, 5, 6, 7, 8, 13, 11, 9, 12, 12, 7, 6, 11, 11, 7, 8, 7, 8, 7, 9, 7, 7, 7, 6, 6, 7, 10, 6, 8, 9, 10, 10, 9, 7, 6, 8, 6, 9, 8, 7, 6, 7, 6, 9, 9, 8, 10, 7, 5, 10, 7, 9, 6, 15, 14, 16, 16, 8, 52, 10, 9, 11, 6, 6, 8, 12, 7, 6, 5, 5, 17, 7, 6, 7, 6, 7, 6, 10, 9, 10, 76, 21, 20, 19, 10, 8, 9, 12, 9, 7, 8, 10, 10, 10, 10, 11, 13, 11, 10, 10, 10, 12, 13, 9, 17, 13, 12, 14, 25, 14, 9, 9, 10, 9, 10, 12, 12, 11, 13, 14, 12, 11, 11, 11, 12, 12, 11, 11, 14, 13, 11, 11, 9, 9, 9, 8, 10, 9, 9, 10, 12, 14, 10, 9, 11, 9, 11, 12, 10, 8, 10, 9, 9, 10, 8, 9, 8, 9, 11, 10, 10, 12, 9, 9, 10, 8, 10, 13, 13, 16, 12, 10, 10, 10, 10, 12, 9, 10, 10, 12, 12, 11, 12, 10, 10, 10, 9, 9, 10, 10, 8, 8, 9, 8, 9, 8, 9, 9, 10, 11, 10, 7, 8, 9, 14, 12, 10, 9, 10, 12, 9, 8, 9, 7, 9, 9, 9, 9, 9, 9, 9, 10, 11, 10, 12, 9, 13, 13, 9, 10, 9, 10, 9, 10, 9, 10, 11, 11, 10, 11, 12, 11, 10, 11, 11, 12, 10, 14, 17, 11, 12, 10, 10, 9, 10, 11, 13, 12, 13, 12, 11, 10, 13, 13, 11, 11, 11, 13, 11, 9, 10, 12, 11, 11, 12, 13, 10, 10, 10, 12, 11, 14, 10, 11, 12, 15, 13, 15, 13, 10, 12, 9, 9, 12, 14, 14, 10, 10, 11, 10, 9, 10, 11, 14, 12, 10, 9, 11, 11, 11, 12, 9, 10, 9, 9, 9, 11, 12, 12, 12, 11, 10, 9, 11, 11, 9, 14, 11, 17, 16, 13, 11, 13, 11, 11, 12, 10, 12, 12, 11, 13, 10, 13, 11, 14, 11, 9, 9, 7, 8, 8, 9, 12, 10, 12, 8, 10, 11, 10, 8, 10, 7, 8, 9, 7, 9, 8, 10, 9, 8, 7, 8, 7, 9, 11, 11, 10, 8, 7, 8, 9, 10, 8, 11, 10, 9, 9, 11, 12, 11, 10, 9, 10, 9, 8, 9, 10, 11, 12, 9, 7, 7, 7, 8, 8, 7, 7, 8, 9, 8, 8, 10, 12, 8, 7, 8, 7, 8, 8, 7, 8, 9, 13, 7, 7, 8, 9, 9, 8, 8, 8, 8, 7, 8, 8, 8, 12, 9, 9, 11, 10, 9, 13, 10, 10, 12, 14, 11, 9, 8, 8, 12, 11, 11, 15, 14, 12, 12, 11, 9, 10, 10, 8, 7, 7, 12, 10, 10, 9, 9, 14, 10, 10, 10, 9, 7, 8, 23, 12, 8, 9, 12, 11, 13, 9, 8, 8, 8, 8, 8, 9, 8, 10, 10, 9, 9, 8, 12, 9, 10, 7, 8, 10, 9, 7, 8, 8, 8, 8, 7, 8, 10, 14, 8, 9, 8, 9, 10, 9, 9, 10, 9, 10, 10, 9, 10, 9, 9, 8, 9, 10, 12, 8, 9, 9, 9, 10, 7, 7, 9, 7, 8, 7, 8, 7, 7, 7, 7, 7, 7, 8, 7, 7, 6, 7, 7, 7, 7, 12, 10, 8, 9, 8, 13, 11, 7, 7, 9, 8, 6, 7, 8, 8, 9, 8, 7, 9, 9, 10, 9, 11, 11, 12, 11, 15, 15, 14, 12, 12, 9, 9, 13, 10, 10, 9, 9, 8, 8, 11, 9, 10, 10, 9, 10, 9, 8, 10, 10, 11, 9, 8, 7, 7, 8, 7, 8, 7, 9, 7, 7, 12, 11, 10, 8, 7, 12, 8, 6, 8, 9, 11, 9, 10, 8, 7, 7, 8, 9, 7, 7, 10, 13, 10, 9, 9, 8, 7, 8, 18, 13, 10, 12, 12, 10, 9, 9, 7, 8, 8, 13, 12, 11, 10, 10, 8, 9, 9, 11, 12, 12, 10, 9, 9, 10, 9, 9, 10, 12, 12, 8, 7, 9, 12, 7, 9, 9, 9, 9, 9, 77, 8])

In [28]:
np.max(list(dic.values()))

77

In [29]:
[k for k, v in dic.items() if v == 77]

['2002-09-01']

In [51]:
d={}
for i in range(len(xx)):
  s = []
  m_indexs=[]
  for j in range(len(xx)):
    if i==j:
      s.append(10**10)
    else:
      start = (xx['위도'].iloc[i], xx['경도'].iloc[i]) 
      goal = (xx['위도'].iloc[j], xx['경도'].iloc[j])
      s.append(haversine(start,goal))
    sorted_list = sorted(s)
  m = sorted_list[:20] 
  for k in m:
    m_indexs.append(xx['지점명'].iloc[s.index(k)])
    d[xx['지점명'].iloc[i]]=m_indexs

print(d)

{'가곡': ['영동', '무주', '덕유산', '진안주천', '옥천청산', '세천', '오월드', '대덕', '동향', '김천', '공성', '북상', '화서', '완주', '속리산', '계룡', '진안', '가덕', '계룡산', '연무'], '가덕': ['상당', '금왕', '세종연서', '세천', '속리산', '증평', '오월드', '화성', '옥천청산', '세종전의', '청천', '진천', '계룡', '계룡산', '괴산', '공주', '정안', '화서', '음성', '은척'], '가덕도': ['진해', '사상', '부산(레)', '영도', '서이말', '부산진', '부산남구', '북구', '동래', '진영', '진북', '해운대', '명사', '금정구', '생림', '고성', '강서', '기장', '개천', '길곡'], '가산': ['포천', '광릉', '가평조종', '의정부', '일동', '양주', '연천청산', '창수', '남양주', '청평', '적성', '노원', '도봉', '구리', '동대문', '성북', '은평', '중랑', '가평북면', '북한산'], '가평북면': ['남산', '가평조종', '사내', '청평', '일동', '화천', '팔봉', '북산', '가산', '포천', '광릉', '창수', '화촌', '청운', '김화', '연천청산', '평화', '양구', '옥천', '의정부'], '가평조종': ['청평', '가산', '일동', '포천', '광릉', '가평북면', '의정부', '남산', '남양주', '창수', '연천청산', '양주', '구리', '사내', '노원', '도봉', '하남', '팔봉', '동대문', '중랑'], '간성': ['대진', '진부령', '현내', '미시령', '설악동', '서화', '강현', '해안', '오색', '양양영덕', '방산', '기린', '양구', '평화', '신남', '주문진', '북산', '연곡', '내면', '화천'], '간절곶': ['기장', '울기', '웅상', '금정구', '해운대', '동래', '양산상북', '강서', '정자', '매곡', '두서', '북구', '부산남구', '부산진', '외동', '단장', '영도', '부산(레)', '사상', '생림'], '감포': ['매곡', '정자', '외동', '구룡포', '황성', '호미곶', '울기', '두서', '기계', '산내', '청하', '간절곶', '웅상', '청도금천', '양산상북', '죽장', '송백', '단장', '기장', '화북'], '강남': ['광진', '송파', '서초', '강동', '성동', '중랑', '성남', '과천', '용산', '동대문', '중구', '구리', '관악(레)', '관악', '성북', '하남', '한강', '기상청', '서대문', '노원'], '강동': ['송파', '광진', '강남', '중랑', '구리', '성동', '하남', '동대문', '서초', '성북', '남양주', '성남', '중구', '용산', '노원', '과천', '도봉', '경기광주', '관악', '한강'], '강문': ['연곡', '주문진', '옥계', '왕산', '임계', '진부', '정선북', '북평', '양양영덕', '내면', '하장', '강현', '오색', '대화', '봉평', '면온', '설악동', '기린', '미시령', '평창'], '강서': ['양산상북', '금정구', '웅상', '단장', '생림', '북구', '동래', '기장', '부산진', '해운대', '송백', '사상', '부산(레)', '두서', '부산남구', '진영', '간절곶', '영도', '청도금천', '진해'], '강진면': ['순창', '신덕', '내장산', '복흥', '태인', '담양', '옥과', '곡성', '진안', '김제', '화순북', '과기원', '줄포', '장성', '뱀사골', '조선대', '진봉', '구례', '풍암', '익산'], '강현': ['설악동', '오색', '양양영덕', '미시령', '진부령', '간성', '기린', '주문진', '서화', '연곡', '대진', '해안', '내면', '현내', '강문', '신남', '양구', '진부', '방산', '서석'], '개천': ['고성', '진북', '함안', '사천', '신포', '삼천포', '사량도', '수곡', '도천', '단성', '삼가', '길곡', '진해', '진영', '금남', '삼장', '하동', '가덕도', '명사', '창녕'], '거문도': ['초도', '금일', '청산도', '도화', '나로도', '도양', '포두', '우도', '관산', '구좌', '보길도', '백야', '북일', '돌산', '선흘', '땅끝', '보성', '현산', '표선', '장동'], '경기광주': ['성남', '하남', '송파', '강동', '강남', '옥천', '구리', '용인', '광진', '서초', '중랑', '성동', '과천', '백사', '동대문', '남양주', '관악(레)', '용산', '성북', '중구'], '경산': ['하양', '대구북구', '청도', '대구서구', '청도금천', '팔공산', '신녕', '산내', '송백', '달성', '화북', '창녕', '의흥', '칠곡', '단장', '성주', '황성', '두서', '고령', '청덕'], '계룡': ['계룡산', '오월드', '공주', '논산', '세천', '연무', '세종연서', '정안', '여산', '금왕', '가덕', '완주', '유구', '양화', '진안주천', '세종전의', '청양', '함라', '가곡', '익산'], '계룡산': ['계룡', '공주', '오월드', '논산', '연무', '정안', '세종연서', '세천', '금왕', '유구', '여산', '가덕', '세종전의', '양화', '청양', '완주', '함라', '진안주천', '익산', '가곡'], '고령': ['달성', '청덕', '성주', '창녕', '대구서구', '대병', '삼가', '대구북구', '대덕', '도천', '칠곡', '청도', '신포', '북상', '길곡', '경산', '함안', '김천', '팔공산', '백천'], '고성': ['개천', '진북', '사량도', '사천', '삼천포', '함안', '명사', '신포', '진해', '욕지도', '서이말', '상주면', '수곡', '금남', '가덕도', '진영', '단성', '도천', '길곡', '삼가'], '고양': ['은평', '북한산', '마포', '서대문', '능곡', '영등포', '양천', '중구', '성북', '한강', '도봉', '용산', '노원', '파주금촌', '기상청', '동대문', '성동', '관악', '중랑', '금천'], '곡성': ['옥과', '순창', '구례', '화순북', '황전', '피아골', '뱀사골', '담양', '강진면', '화개', '복흥', '조선대', '화순', '풍암', '과기원', '내장산', '화순능주', '순천시', '광양읍', '신덕'], '공성': ['선산', '화서', '김천', '옥천청산', '은척', '영동', '단북', '속리산', '소보', '가곡', '칠곡', '대덕', '지보', '군위', '성주', '청천', '마성', '무주', '하회', '덕유산'], '공주': ['정안', '계룡산', '계룡', '유구', '세종연서', '금왕', '논산', '세종전의', '오월드', '청양', '연무', '세천', '가덕', '양화', '예산', '여산', '홍북', '성거', '함라', '아산'], '공촌동': ['금곡', '영종도', '양천', '인천연수', '능곡', '마포', '영등포', '시흥', '고양', '금천', '기상청', '서대문', '한강', '파주금촌', '양도', '관악', '은평', '북한산', '용산', '중구'], '과기원': ['장성', '풍암', '조선대', '광산', '담양', '월야', '화순', '복흥', '화순북', '나주', '화순능주', '옥과', '순창', '다도', '내장산', '함평', '이양', '곡성', '강진면', '줄포'], '과천': ['관악(레)', '서초', '관악', '용산', '금천', '강남', '기상청', '한강', '성남', '성동', '중구', '광진', '영등포', '송파', '양천', '강동', '서대문', '중랑', '마포', '동대문'], '관산': ['도양', '금일', '북일', '장동', '성전', '보성', '유치', '학산', '도화', '현산', '영암', '이양', '복내', '청산도', '포두', '땅끝', '다도', '초도', '시종', '산이'], '관악': ['기상청', '한강', '용산', '금천', '관악(레)', '영등포', '서초', '과천', '양천', '중구', '서대문', '성동', '마포', '강남', '광진', '북한산', '성북', '중랑', '동대문', '송파'], '관악(레)': ['과천', '관악', '금천', '서초', '기상청', '용산', '한강', '영등포', '강남', '양천', '중구', '성동', '성남', '서대문', '광진', '마포', '송파', '강동', '시흥', '중랑'], '광릉': ['의정부', '가산', '포천', '남양주', '노원', '도봉', '가평조종', '양주', '구리', '동대문', '성북', '중랑', '청평', '은평', '북한산', '하남', '일동', '강동', '광진', '연천청산'], '광산': ['월야', '나주', '풍암', '과기원', '조선대', '장성', '함평', '다도', '화순능주', '화순', '담양', '무안', '시종', '화순북', '염산', '이양', '영암', '복흥', '유치', '옥과'], '광양읍': ['순천시', '여수산단', '하동', '황전', '금남', '벌교', '구례', '화개', '피아골', '백야', '돌산', '수곡', '복내', '삼장', '삼천포', '뱀사골', '곡성', '사천', '상주면', '포두'], '광진': ['강동', '성동', '강남', '중랑', '송파', '동대문', '서초', '구리', '성북', '중구', '용산', '하남', '노원', '남양주', '과천', '한강', '성남', '관악', '도봉', '서대문'], '괴산': ['음성', '화성', '청천', '증평', '수안보', '상당', '노은', '진천', '엄정', '속리산', '덕산', '마성', '장호원', '가덕', '은척', '수산', '동로', '화서', '금왕', '부론'], '교동': ['볼음도', '양도', '장봉도', '금곡', '도라산', '영종도', '파주금촌', '공촌동', '능곡', '대연평', '인천연수', '고양', '마포', '적성', '양천', '은평', '자월도', '영등포', '양주', '시흥'], '구례': ['피아골', '황전', '화개', '뱀사골', '곡성', '광양읍', '순천시', '하동', '삼장', '옥과', '화순북', '순창', '금남', '수곡', '벌교', '백천', '단성', '여수산단', '복내', '강진면'], '구룡포': ['호미곶', '감포', '청하', '황성', '기계', '외동', '매곡', '정자', '죽장', '울기', '영덕읍', '두서', '산내', '화북', '하양', '청도금천', '간절곶', '현서', '신녕', '웅상'], '구리': ['남양주', '중랑', '강동', '하남', '동대문', '광진', '송파', '노원', '성북', '성동', '강남', '도봉', '중구', '서초', '용산', '북한산', '성남', '의정부', '경기광주', '서대문'], '구좌': ['우도', '선흘', '표선', '성판악', '제주남원', '진달래밭', '윗세오름', '어리목', '유수암', '서광', '한림', '대정', '거문도', '마라도', '추자도', '청산도', '보길도', '초도', '금일', '땅끝'], '군산(레)': ['서천', '함라', '양화', '진봉', '익산', '김제', '여산', '춘장대', '연무', '논산', '선유도', '완주', '태인', '대천항', '청양', '줄포', '신덕', '변산', '삽시도', '계룡산'], '군위': ['소보', '의흥', '단북', '선산', '팔공산', '옥산', '칠곡', '현서', '신녕', '하회', '지보', '화북', '대구북구', '길안', '대구서구', '성주', '공성', '하양', '김천', '예천'], '근흥': ['만리포', '태안', '홍성죽도', '서부', '삽시도', '호도', '대산', '홍북', '당진', '대천항', '예산', '덕적도', '어청도', '청양', '신평', '춘장대', '자월도', '아산', '유구', '운평'], '금강송': ['소곡', '수비', '온정', '원덕', '석포', '죽변', '평해', '영양', '예안', '상동', '봉화읍', '부석', '이산', '하장', '영덕읍', '길안', '신동', '영춘', '임계', '옥산'], '금곡': ['공촌동', '능곡', '양도', '영종도', '파주금촌', '고양', '양천', '마포', '인천연수', '영등포', '은평', '서대문', '북한산', '기상청', '한강', '시흥', '금천', '장봉도', '관악', '중구'], '금남': ['하동', '여수산단', '사천', '삼천포', '광양읍', '수곡', '순천시', '화개', '상주면', '삼장', '단성', '피아골', '황전', '구례', '돌산', '사량도', '백야', '개천', '고성', '벌교'], '금왕': ['세종연서', '가덕', '세종전의', '정안', '상당', '공주', '증평', '세천', '계룡산', '진천', '계룡', '화성', '오월드', '성거', '유구', '속리산', '괴산', '청천', '안성', '음성'], '금일': ['초도', '청산도', '도양', '관산', '도화', '북일', '거문도', '포두', '나로도', '현산', '땅끝', '보성', '보길도', '장동', '성전', '유치', '학산', '영암', '이양', '복내'], '금정구': ['동래', '강서', '웅상', '북구', '기장', '해운대', '부산진', '양산상북', '부산남구', '사상', '부산(레)', '간절곶', '영도', '단장', '생림', '진영', '두서', '울기', '진해', '송백'], '금천': ['기상청', '관악', '관악(레)', '영등포', '양천', '한강', '용산', '과천', '서초', '마포', '서대문', '중구', '시흥', '성동', '강남', '북한산', '광진', '성북', '고양', '중랑'], '기계': ['죽장', '청하', '황성', '화북', '호미곶', '현서', '신녕', '구룡포', '산내', '하양', '감포', '외동', '영덕읍', '의흥', '매곡', '경산', '두서', '옥산', '길안', '청도금천'], '기린': ['양양영덕', '내면', '오색', '신남', '서석', '설악동', '미시령', '강현', '양구', '화촌', '서화', '진부령', '봉평', '해안', '북산', '진부', '청일', '면온', '방산', '주문진'], '기상청': ['관악', '금천', '영등포', '한강', '양천', '용산', '관악(레)', '서대문', '중구', '마포', '과천', '서초', '성동', '북한산', '강남', '광진', '성북', '고양', '시흥', '동대문'], '기장': ['금정구', '간절곶', '해운대', '웅상', '동래', '부산남구', '강서', '북구', '부산진', '양산상북', '영도', '부산(레)', '울기', '사상', '단장', '두서', '생림', '정자', '매곡', '송백'], '길곡': ['도천', '진영', '함안', '창녕', '생림', '청덕', '진북', '청도', '신포', '단장', '진해', '송백', '달성', '개천', '강서', '삼가', '고령', '양산상북', '북구', '청도금천'], '길안': ['옥산', '현서', '예안', '영양', '하회', '죽장', '의흥', '군위', '영덕읍', '화북', '단북', '소보', '예천', '수비', '지보', '신녕', '이산', '청하', '봉화읍', '기계'], '김제': ['진봉', '태인', '익산', '군산(레)', '함라', '신덕', '줄포', '서천', '여산', '내장산', '양화', '완주', '강진면', '연무', '변산', '복흥', '선유도', '심원', '논산', '진안'], '김천': ['대덕', '공성', '선산', '성주', '칠곡', '영동', '덕유산', '가곡', '소보', '무주', '옥천청산', '북상', '화서', '군위', '단북', '대구서구', '고령', '팔공산', '대구북구', '은척'], '김화': ['양지', '외촌', '사내', '신서', '화천', '일동', '창수', '평화', '가평북면', '연천청산', '방산', '북산', '포천', '가평조종', '가산', '양구', '적성', '남산', '청평', '해안'], '나로도': ['포두', '도화', '백야', '돌산', '도양', '벌교', '초도', '여수산단', '보성', '금일', '순천시', '관산', '복내', '광양읍', '장동', '상주면', '거문도', '이양', '금남', '황전'], '나주': ['다도', '광산', '풍암', '화순능주', '월야', '함평', '시종', '조선대', '화순', '영암', '과기원', '무안', '유치', '이양', '장성', '전남도청', '화순북', '장동', '성전', '학산'], '낙월도': ['지도', '염산', '운남', '자은도', '무안', '함평', '압해도', '월야', '위도', '비금', '심원', '전남도청', '안좌', '광산', '변산', '시종', '장성', '나주', '과기원', '줄포'], '남산': ['팔봉', '가평북면', '청평', '가평조종', '청운', '화촌', '사내', '북산', '화천', '일동', '옥천', '가산', '포천', '광릉', '신남', '양동', '횡성', '양구', '남양주', '하남'], '남양주': ['구리', '노원', '동대문', '중랑', '도봉', '성북', '강동', '하남', '광진', '의정부', '성동', '광릉', '송파', '강남', '중구', '북한산', '은평', '서대문', '용산', '서초'], '내면': ['봉평', '서석', '기린', '진부', '면온', '대화', '양양영덕', '청일', '오색', '신남', '화촌', '왕산', '연곡', '주문진', '안흥', '북평', '강현', '설악동', '평창', '정선북'], '내장산': ['복흥', '태인', '강진면', '줄포', '담양', '순창', '신덕', '장성', '과기원', '심원', '옥과', '김제', '진봉', '변산', '조선대', '풍암', '화순북', '곡성', '월야', '광산'], '노원': ['도봉', '성북', '동대문', '중랑', '남양주', '북한산', '구리', '의정부', '은평', '성동', '광진', '중구', '강동', '서대문', '고양', '용산', '강남', '송파', '마포', '광릉'], '노은': ['엄정', '음성', '장호원', '부론', '괴산', '여주', '수안보', '화성', '신림', '덕산', '증평', '진천', '수산', '백암', '대신', '양동', '청천', '백사', '치악산', '상당'], '논산': ['연무', '여산', '계룡', '계룡산', '양화', '함라', '완주', '공주', '익산', '오월드', '군산(레)', '청양', '서천', '정안', '세천', '진안주천', '유구', '세종연서', '김제', '진봉'], '능곡': ['파주금촌', '고양', '은평', '금곡', '마포', '북한산', '공촌동', '서대문', '양천', '영등포', '양주', '도봉', '한강', '도라산', '중구', '성북', '의정부', '노원', '기상청', '용산'], '다도': ['나주', '화순능주', '이양', '유치', '화순', '영암', '풍암', '시종', '광산', '조선대', '장동', '복내', '성전', '함평', '월야', '과기원', '보성', '학산', '화순북', '무안'], '단북': ['소보', '지보', '군위', '하회', '선산', '예천', '의흥', '공성', '옥산', '은척', '칠곡', '길안', '마성', '현서', '화서', '팔공산', '김천', '동로', '신녕', '예안'], '단성': ['수곡', '삼장', '삼가', '신포', '대병', '백천', '화개', '사천', '하동', '피아골', '뱀사골', '금남', '개천', '함안', '서하', '삼천포', '청덕', '구례', '고성', '진북'], '단양': ['수산', '영춘', '덕산', '동로', '부석', '이산', '봉화읍', '영월주천', '신동', '수안보', '마성', '예천', '신림', '상동', '엄정', '평창', '지보', '하회', '노은', '치악산'], '단장': ['송백', '양산상북', '강서', '생림', '청도금천', '웅상', '두서', '청도', '금정구', '진영', '산내', '북구', '동래', '길곡', '부산진', '기장', '도천', '사상', '창녕', '해운대'], '달성': ['고령', '청덕', '창녕', '대구서구', '청도', '성주', '대구북구', '경산', '도천', '길곡', '칠곡', '팔공산', '삼가', '청도금천', '대병', '하양', '송백', '함안', '신포', '대덕'], '담양': ['복흥', '과기원', '옥과', '순창', '장성', '화순북', '조선대', '풍암', '내장산', '강진면', '화순', '곡성', '광산', '화순능주', '월야', '나주', '태인', '줄포', '다도', '신덕'], '당진': ['신평', '아산', '예산', '대산', '운평', '홍북', '태안', '전곡항', '서부', '대부도', '홍성죽도', '평택', '만리포', '안산', '성거', '유구', '자월도', '근흥', '오산', '청양'], '대구북구': ['대구서구', '팔공산', '경산', '하양', '신녕', '칠곡', '성주', '달성', '청도', '의흥', '화북', '고령', '청도금천', '군위', '산내', '창녕', '소보', '청덕', '송백', '선산'], '대구서구': ['대구북구', '팔공산', '경산', '달성', '성주', '칠곡', '하양', '고령', '청도', '신녕', '창녕', '청덕', '의흥', '청도금천', '화북', '군위', '송백', '산내', '김천', '소보'], '대덕': ['덕유산', '김천', '북상', '성주', '무주', '영동', '가곡', '칠곡', '고령', '동향', '공성', '서하', '선산', '대병', '달성', '백천', '진안주천', '대구서구', '옥천청산', '청덕'], '대병': ['삼가', '백천', '단성', '서하', '삼장', '신포', '북상', '고령', '청덕', '수곡', '뱀사골', '달성', '덕유산', '대덕', '함안', '화개', '창녕', '피아골', '도천', '동향'], '대부도': ['전곡항', '인천연수', '안산', '자월도', '운평', '시흥', '영종도', '대산', '장봉도', '공촌동', '금천', '덕적도', '당진', '관악(레)', '기상청', '양천', '오산', '관악', '신평', '금곡'], '대산': ['당진', '자월도', '태안', '대부도', '전곡항', '덕적도', '운평', '만리포', '신평', '근흥', '아산', '예산', '홍북', '서부', '인천연수', '안산', '장봉도', '시흥', '홍성죽도', '영종도'], '대신': ['백사', '여주', '양동', '옥천', '부론', '청운', '장호원', '경기광주', '백암', '용인', '횡성', '팔봉', '하남', '노은', '성남', '치악산', '송파', '엄정', '청평', '강동'], '대연평': ['볼음도', '교동', '장봉도', '덕적도', '양도', '자월도', '영종도', '금곡', '소청도', '공촌동', '인천연수', '대부도', '도라산', '백령면', '대산', '파주금촌', '능곡', '전곡항', '시흥', '양천'], '대정': ['서광', '마라도', '한림', '유수암', '어리목', '윗세오름', '진달래밭', '성판악', '제주남원', '선흘', '표선', '구좌', '우도', '추자도', '보길도', '청산도', '상조도', '땅끝', '의신', '거문도'], '대진': ['현내', '간성', '진부령', '미시령', '서화', '해안', '설악동', '강현', '오색', '방산', '양양영덕', '양구', '평화', '기린', '신남', '북산', '주문진', '화천', '연곡', '내면'], '대천항': ['삽시도', '춘장대', '호도', '홍성죽도', '청양', '서부', '서천', '홍북', '양화', '군산(레)', '유구', '함라', '근흥', '태안', '어청도', '예산', '논산', '연무', '공주', '선유도'], '대화': ['면온', '봉평', '진부', '평창', '북평', '청일', '내면', '정선북', '안흥', '왕산', '서석', '영월주천', '임계', '치악산', '신동', '횡성', '하장', '기린', '신림', '연곡'], '덕산': ['수산', '수안보', '동로', '단양', '마성', '엄정', '괴산', '노은', '영춘', '청천', '신림', '예천', '음성', '은척', '영월주천', '이산', '지보', '부석', '화성', '부론'], '덕유산': ['북상', '무주', '대덕', '동향', '가곡', '서하', '영동', '진안주천', '진안', '김천', '백천', '대병', '성주', '완주', '공성', '고령', '옥천청산', '세천', '오월드', '칠곡'], '덕적도': ['자월도', '대산', '장봉도', '대부도', '전곡항', '영종도', '인천연수', '만리포', '볼음도', '태안', '당진', '양도', '운평', '시흥', '공촌동', '근흥', '안산', '대연평', '금곡', '교동'], '도라산': ['파주금촌', '적성', '능곡', '양주', '금곡', '연천청산', '고양', '양도', '은평', '의정부', '북한산', '교동', '공촌동', '창수', '마포', '도봉', '포천', '가산', '서대문', '노원'], '도봉': ['노원', '성북', '동대문', '북한산', '중랑', '은평', '남양주', '의정부', '중구', '성동', '구리', '서대문', '광진', '고양', '강동', '마포', '용산', '한강', '강남', '광릉'], '도양': ['도화', '관산', '금일', '포두', '보성', '장동', '나로도', '초도', '복내', '벌교', '유치', '북일', '이양', '성전', '청산도', '백야', '학산', '영암', '현산', '다도'], '도천': ['길곡', '창녕', '함안', '진영', '청덕', '생림', '신포', '진북', '달성', '청도', '개천', '삼가', '단장', '고령', '송백', '진해', '청도금천', '강서', '양산상북', '고성'], '도화': ['포두', '나로도', '도양', '초도', '백야', '금일', '보성', '관산', '벌교', '장동', '돌산', '복내', '순천시', '여수산단', '이양', '거문도', '청산도', '유치', '광양읍', '북일'], '돌산': ['백야', '상주면', '여수산단', '나로도', '포두', '금남', '광양읍', '순천시', '삼천포', '벌교', '도화', '욕지도', '사량도', '하동', '사천', '도양', '황전', '보성', '고성', '복내'], '동대문': ['중랑', '성북', '노원', '성동', '광진', '도봉', '구리', '강동', '중구', '남양주', '강남', '북한산', '송파', '용산', '서대문', '서초', '은평', '한강', '하남', '마포'], '동래': ['해운대', '북구', '부산진', '금정구', '부산남구', '부산(레)', '사상', '영도', '기장', '강서', '웅상', '양산상북', '간절곶', '생림', '진해', '가덕도', '단장', '진영', '울기', '송백'], '동로': ['마성', '덕산', '수산', '예천', '단양', '수안보', '지보', '이산', '은척', '하회', '영춘', '청천', '부석', '봉화읍', '괴산', '엄정', '단북', '화서', '노은', '속리산'], '동향': ['진안', '덕유산', '진안주천', '무주', '북상', '서하', '완주', '가곡', '대덕', '백천', '영동', '신덕', '대병', '뱀사골', '여산', '오월드', '강진면', '익산', '연무', '김천'], '두서': ['외동', '산내', '매곡', '양산상북', '청도금천', '송백', '단장', '웅상', '정자', '황성', '강서', '울기', '간절곶', '감포', '금정구', '청도', '기장', '생림', '경산', '하양'], '땅끝': ['현산', '북일', '의신', '보길도', '수유', '산이', '학산', '청산도', '성전', '관산', '상조도', '금일', '전남도청', '영암', '추자도', '안좌', '하의도', '유치', '시종', '도양'], '마라도': ['대정', '서광', '한림', '유수암', '윗세오름', '어리목', '진달래밭', '성판악', '제주남원', '표선', '선흘', '구좌', '우도', '추자도', '보길도', '청산도', '상조도', '거문도', '땅끝', '의신'], '마성': ['동로', '수안보', '은척', '덕산', '청천', '지보', '예천', '수산', '화서', '괴산', '속리산', '단양', '하회', '단북', '상당', '이산', '엄정', '음성', '공성', '옥천청산'], '마포': ['서대문', '영등포', '양천', '한강', '북한산', '고양', '중구', '용산', '은평', '기상청', '관악', '성북', '금천', '성동', '서초', '도봉', '동대문', '관악(레)', '중랑', '노원'], '만리포': ['근흥', '태안', '대산', '홍성죽도', '서부', '당진', '홍북', '덕적도', '삽시도', '호도', '자월도', '대천항', '예산', '신평', '대부도', '전곡항', '아산', '운평', '청양', '어청도'], '매곡': ['정자', '외동', '감포', '울기', '두서', '황성', '간절곶', '산내', '웅상', '구룡포', '양산상북', '청도금천', '기장', '단장', '강서', '송백', '기계', '금정구', '호미곶', '동래'], '면온': ['봉평', '대화', '진부', '청일', '평창', '안흥', '내면', '서석', '북평', '정선북', '왕산', '치악산', '영월주천', '횡성', '임계', '화촌', '기린', '신림', '신동', '연곡'], '명사': ['서이말', '욕지도', '사량도', '가덕도', '고성', '진해', '진북', '개천', '삼천포', '상주면', '사상', '부산(레)', '영도', '사천', '부산진', '부산남구', '진영', '함안', '북구', '동래'], '무안': ['함평', '운남', '시종', '전남도청', '압해도', '지도', '염산', '나주', '월야', '영암', '광산', '다도', '학산', '산이', '낙월도', '성전', '유치', '안좌', '자은도', '풍암'], '무주': ['가곡', '덕유산', '영동', '동향', '진안주천', '북상', '대덕', '진안', '완주', '김천', '오월드', '서하', '세천', '옥천청산', '공성', '계룡', '백천', '연무', '화서', '여산'], '미시령': ['진부령', '설악동', '오색', '강현', '간성', '서화', '양양영덕', '해안', '기린', '대진', '현내', '양구', '방산', '신남', '내면', '주문진', '평화', '연곡', '북산', '서석'], '방산': ['평화', '양구', '해안', '북산', '서화', '화천', '신남', '진부령', '사내', '미시령', '기린', '김화', '간성', '화촌', '설악동', '오색', '가평북면', '대진', '현내', '남산'], '백령면': ['소청도', '대연평', '볼음도', '교동', '덕적도', '장봉도', '양도', '자월도', '영종도', '금곡', '도라산', '공촌동', '대산', '만리포', '파주금촌', '인천연수', '대부도', '능곡', '근흥', '전곡항'], '백사': ['대신', '여주', '옥천', '경기광주', '용인', '백암', '장호원', '부론', '양동', '청운', '성남', '하남', '용인이동', '송파', '강동', '강남', '구리', '오산', '안성', '광진'], '백암': ['용인이동', '안성', '용인', '장호원', '백사', '평택', '여주', '오산', '진천', '대신', '성거', '경기광주', '부론', '음성', '성남', '노은', '증평', '화성', '옥천', '송파'], '백야': ['돌산', '나로도', '포두', '여수산단', '도화', '상주면', '벌교', '순천시', '광양읍', '금남', '도양', '하동', '삼천포', '보성', '복내', '황전', '초도', '욕지도', '사량도', '장동'], '백천': ['서하', '대병', '삼장', '뱀사골', '북상', '단성', '삼가', '피아골', '화개', '수곡', '동향', '진안', '덕유산', '구례', '신포', '대덕', '고령', '청덕', '하동', '곡성'], '뱀사골': ['피아골', '화개', '구례', '삼장', '백천', '곡성', '서하', '황전', '단성', '수곡', '하동', '순창', '옥과', '대병', '광양읍', '강진면', '진안', '금남', '삼가', '순천시'], '벌교': ['순천시', '복내', '광양읍', '보성', '포두', '황전', '여수산단', '장동', '백야', '이양', '나로도', '도화', '도양', '화순', '구례', '화순능주', '돌산', '화순북', '하동', '금남'], '변산': ['심원', '위도', '줄포', '선유도', '진봉', '내장산', '태인', '김제', '장성', '복흥', '염산', '월야', '군산(레)', '서천', '과기원', '낙월도', '담양', '익산', '강진면', '광산'], '보길도': ['땅끝', '청산도', '추자도', '현산', '북일', '의신', '금일', '수유', '상조도', '관산', '산이', '학산', '성전', '초도', '도양', '하의도', '거문도', '안좌', '전남도청', '영암'], '보성': ['장동', '복내', '이양', '유치', '도양', '벌교', '관산', '다도', '화순능주', '포두', '화순', '도화', '성전', '영암', '학산', '나로도', '나주', '순천시', '화순북', '조선대'], '복내': ['이양', '보성', '장동', '벌교', '화순능주', '화순', '다도', '화순북', '유치', '조선대', '순천시', '풍암', '황전', '나주', '도양', '포두', '관산', '영암', '광양읍', '옥과'], '복흥': ['내장산', '담양', '순창', '강진면', '장성', '과기원', '태인', '옥과', '줄포', '조선대', '화순북', '풍암', '신덕', '곡성', '심원', '광산', '월야', '화순', '김제', '화순능주'], '볼음도': ['교동', '양도', '장봉도', '영종도', '금곡', '대연평', '공촌동', '자월도', '덕적도', '도라산', '파주금촌', '인천연수', '능곡', '대부도', '시흥', '고양', '양천', '마포', '영등포', '은평'], '봉평': ['면온', '대화', '진부', '내면', '청일', '서석', '안흥', '평창', '북평', '왕산', '정선북', '치악산', '기린', '횡성', '영월주천', '화촌', '임계', '양양영덕', '신남', '연곡'], '봉화읍': ['이산', '부석', '상동', '영춘', '석포', '예안', '단양', '예천', '신동', '동로', '하회', '영양', '수산', '수비', '금강송', '지보', '덕산', '길안', '마성', '하장'], '부론': ['여주', '장호원', '양동', '대신', '노은', '엄정', '백사', '신림', '치악산', '음성', '횡성', '백암', '청운', '옥천', '안흥', '괴산', '영월주천', '용인', '화성', '진천'], '부산(레)': ['사상', '부산진', '부산남구', '영도', '북구', '동래', '해운대', '가덕도', '금정구', '진해', '기장', '강서', '진영', '생림', '웅상', '양산상북', '단장', '간절곶', '서이말', '진북'], '부산남구': ['영도', '부산진', '부산(레)', '해운대', '동래', '사상', '북구', '금정구', '기장', '가덕도', '강서', '진해', '웅상', '양산상북', '간절곶', '생림', '진영', '단장', '서이말', '울기'], '부산진': ['부산(레)', '사상', '북구', '부산남구', '동래', '영도', '해운대', '금정구', '강서', '진해', '기장', '가덕도', '웅상', '생림', '진영', '양산상북', '단장', '간절곶', '길곡', '서이말'], '부석': ['봉화읍', '이산', '상동', '영춘', '신동', '단양', '석포', '예천', '수산', '동로', '예안', '덕산', '영월주천', '하장', '하회', '평창', '금강송', '북평', '지보', '수비'], '북구': ['부산진', '동래', '사상', '부산(레)', '금정구', '부산남구', '해운대', '영도', '강서', '기장', '생림', '웅상', '진해', '양산상북', '진영', '가덕도', '단장', '간절곶', '송백', '길곡'], '북산': ['양구', '화천', '신남', '평화', '방산', '화촌', '사내', '가평북면', '남산', '해안', '서화', '기린', '팔봉', '서석', '김화', '일동', '진부령', '청평', '가평조종', '미시령'], '북상': ['덕유산', '서하', '대덕', '동향', '무주', '백천', '대병', '진안', '가곡', '진안주천', '김천', '고령', '영동', '성주', '삼가', '뱀사골', '삼장', '청덕', '단성', '달성'], '북일': ['현산', '땅끝', '관산', '성전', '학산', '산이', '의신', '금일', '청산도', '보길도', '영암', '유치', '수유', '도양', '전남도청', '시종', '장동', '보성', '다도', '이양'], '북평': ['정선북', '왕산', '임계', '진부', '하장', '대화', '평창', '신동', '면온', '봉평', '옥계', '상동', '강문', '영월주천', '내면', '연곡', '영춘', '안흥', '청일', '주문진'], '북한산': ['은평', '서대문', '고양', '성북', '마포', '중구', '도봉', '노원', '한강', '동대문', '용산', '영등포', '성동', '양천', '중랑', '관악', '기상청', '광진', '서초', '의정부'], '비금': ['자은도', '하의도', '안좌', '압해도', '수유', '운남', '지도', '산이', '전남도청', '상조도', '의신', '낙월도', '무안', '함평', '시종', '염산', '학산', '현산', '영암', '땅끝'], '사내': ['화천', '가평북면', '일동', '김화', '양지', '북산', '가평조종', '평화', '창수', '남산', '외촌', '포천', '신서', '청평', '가산', '연천청산', '양구', '방산', '팔봉', '광릉'], '사량도': ['삼천포', '욕지도', '고성', '상주면', '사천', '명사', '개천', '진북', '금남', '서이말', '돌산', '여수산단', '하동', '수곡', '함안', '진해', '가덕도', '신포', '백야', '단성'], '사상': ['부산(레)', '부

In [52]:
def area(spot,number):
  return d[spot][number]

print(area('하남',0))

구리

In [54]:
for x in range(len(dk)): 
  for i in dk[x][dk[x].isnull()].index:
    num = 0
    while np.isnan(dk[x][area(i,num)]):
        num+=1
        dk[x][i]=dk[x][area(i,num)]
        
    dk[x][i]=dk[x][area(i,num)]

In [59]:
dk[:3]

[가곡      29.5
 가덕      31.6
 가덕도     19.9
 가산      29.9
 가평북면    28.5
         ...
 화천      28.0
 화촌      28.0
 황성      24.1
 황전      28.0
 횡성      29.3
 Name: 최고기온(°C), Length: 387, dtype: object, 가곡      28.3
 가덕      29.8
 가덕도     22.7
 가산      26.8
 가평북면    29.7
         ...
 화천      30.0
 화촌      30.2
 황성      25.9
 황전      27.5
 횡성      29.7
 Name: 최고기온(°C), Length: 387, dtype: object, 가곡      28.3
 가덕      33.0
 가덕도     20.0
 가산      27.2
 가평북면    32.9
         ...
 화천      32.2
 화촌      31.2
 황성      20.3
 황전      25.9
 횡성      33.0
 Name: 최고기온(°C), Length: 387, dtype: object]

In [64]:
dic2={}
for i in range(len(dk)):
  dic2[i]=len(dk[i][dk[i].isnull()])
dic2.values()

dict_values([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])